node_modules/
.env
.env.local
.DS_Store
dist/
build/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
uploads/



src/controllers/dashboard.controller.js
src/controllers/project.controller.js
src/controllers/task.controller.js



src/middleware/errorHandler.js
src/middleware/logger.js
src/middleware/upload.js
src/middleware/validation.js


src/models/Activity.js
src/models/Attachment.js
src/models/Comment.js
src/models/Milestone.js
src/models/Notification.js
src/models/otp.js
src/models/Project.js
src/models/Session.js
src/models/Task.js


src/routes/activity.routes.js
src/routes/attachment.routes.js
src/routes/comment.routes.js
src/routes/dashboard.routes.js
src/routes/milestone.routes.js
src/routes/notification.routes.js
src/routes/project.routes.js
src/routes/task.routes.js

src/services/email.service.js
src/utils/utils.js



